<div class="page-header">
  <h3>Post #<%= @post.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Image</dt>
      <dd><img src="<%= @post.image %>" class="img-responsive"></dd>

      <dt>Caption</dt>
      <dd><%= @post.caption %></dd>

      <dt>User</dt>
      <dd><%= @post.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/posts" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @post.user %>
        <a href="/posts/<%= @post.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_post/<%= @post.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Post has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @post.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.post_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for post_id -->
      <input type="hidden" name="post_id" value="<%= @post.id %>">

      <!-- Label and input for commenter_id -->
      <div class="form-group">
        <label for="commenter_id" class="control-label">
          Commenter
        </label>

        <%= select_tag(:commenter_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Post has many likes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Likes
      </li>

      <% @post.likes.each do |posts_like| %>
        <li class="list-group-item">
          <a href="/posts_likes/<%= posts_like.id %>">
            <%= posts_like.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/posts_likes/<%= posts_like.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/posts_likes/<%= posts_like.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_posts_like/<%= posts_like.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_posts_like" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for post_id -->
      <input type="hidden" name="post_id" value="<%= @post.id %>">

      <button class="btn btn-block btn-success">
        Create Posts Like
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Post has many commenters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Commenters
      </li>

      <% @post.commenters.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Post has many likers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Likers
      </li>

      <% @post.likers.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
